#header {
  background-color:#3f51b5;
  color:white;
  text-align:center;
  padding:5px;
}
#section {
  padding:10px;
}
#footer {
  background-color:#3f51b5;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
.deleteEntry {
  visibility: hidden;
}
.entry:hover .deleteEntry{
  visibility: visible;
}
.width20Per {
  width: 20%;
}
.width60Per {
  width: 60%;
}
thead {
  background-color: white;
}
.table-container {
  padding-top: 1%;
}
.dropdown-menu {
  z-index: 1002;
}
.font30 {
  font-size: 30px;
}
